body {
  background-color: #d9e0e0;
}

#container {
  width: 60vw;
  height: 90vh;
  margin: auto;
  margin-top: 5vh;
  padding: 3em;
  background: white;
  border: none;
  border-radius: 10px;
}

/* Heading */
h1 {
  text-align: center;
}

/* Input Section */
.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  width: 70%;
  height: 40px;
  border: none;
  border-radius: 10px;
  padding-left: 5px;
  font-size: large;
}

#container input:hover {
  background-color: #d0e3e3;
}

.add {
  display: inline-block;
  border: none;
  border-radius: 10px;
  margin: 8px;
  background-color: white;
  cursor: pointer;
}

.add:hover {
  background-color: #d0e3e3;
}

.options {
  font-size: 1rem;
  appearance: none;
  outline: none;
  border: none;
  width: 20%;
  background-color: #d0e3e3;
  height: 40px;
  font-weight: 600;
  padding-left: 1rem;
  border-radius: 10px;
}

/* List items */
#item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d0e3e3;
  margin-top: 8px;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 500;
  padding-left: 5px;
  height: 40px;
}
#item span {
  cursor: pointer;
}
#item button {
  border: none;
  margin: 6px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.item {
  flex: 1;
}
@media only screen and (max-width: 1200px) {
  #container {
    width: 80vw;
  }
  .add {
    size: 1em;
  }
}

/* --------------------------------------------- */
.Edit {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.Edit .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.Edit:hover .tooltiptext {
  visibility: visible;
}

.Delete {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.Delete .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.Delete:hover .tooltiptext {
  visibility: visible;
}

.Checked {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.Checked .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.Checked:hover .tooltiptext {
  visibility: visible;
}
